# Python
__pycache__/
*.py[cod]
*.so
.Python

# Poetry
poetry.lock

# Virtual environments
venv/
.env

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
